# ignore Jekyll builder artifacts
_site/
.jekyll-cache/

# ignore Node builder artifacts
node_modules/

# ignore Ruby artifacts
.bundle/
.vendor/

# ignore Sass artifacts
.sass-cache/

# ignore TailwindCSS compilation
assets/css/tailwind-optimized.css

# ignore OS files
.DS_Store

# ignore misc
tmp/
