<footer>
  <div class="footer__left">
    &copy;<span id="year"></span>
    <a href="/">{{ site.author }}</a>
    <span class="nowPlaying">NOW PLAYING: <strong>{{ site.tagline }}</strong></span>
  </div>
  <div class="footer__right">
    <a href="/high-scores/" title="View achievements">High Scores</a>
    <a href="/toolbox/" title="View my utility belt">Toolbox</a>
    <a href="/vault/" title="View my projects">Vault</a>
    <a href="/credits/" title="View my credits">Credits</a>
    <a href="/power-up/" title="View my Rails projects">Power-Up</a>
    <a href="/boss-level/" title="View my CTO mindset">Boss Level</a>
    <a href="/blog/" title="Read my thoughts">Blog</a>
  </div>
</footer>